

.body {
    font-family: 'IBM Plex Sans', sans-serif;
    border: 0 solid;
    padding-top: 90px;
    padding-bottom: 90px;
    align-items: center;
    display: flex;
    background-color: #f5f5f5;
}

.container {
    max-width: 1024px;
    width: 100%;
    background: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #d4d4d4;
}

.image {
    background: url("mountains-2.jpg");
    background-position: center;
    width: 512px;
    height: 767px;
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
}

.title {
    color: #0284c7;
    font-weight: 800;
    margin-bottom: 35px;
    margin-top: 10px;
    font-size: 25px;
}


.block {
    background-color: white;
    width: calc(100% - 40%);
    padding: 30px;
    border-radius: 0 20px 20px 0;
    color: #737373; 
    align-items: center;
}

.button {
    display: flex;
    width: 100%;
    border: none;
    padding: 8px 8px;
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: #0ea5e9 ;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 1px 1px 2px #D6D3D1;
    justify-content: center;
}

.button:focus {
    background-color: #0284c7;
}

.form {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 2px;
    border-radius: 3px;
    height: 22px;
    width:  90%;
    border:1px solid #D6D3D1;
}

.form:focus {
    border: 1px solid #0ea5e9;
}


.select {
    padding: 12px;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    height: 24px;
    width:  90%;
    border: 1px solid #D6D3D1;
}

.select:focus {
    border: 1px solid #0ea5e9;
}

.adress {
    width: 95%;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    height: 22px;
    border: 1px solid #D6D3D1;
}

adress:focus {
    border: 1px solid #0ea5e9;
}


.title_form {
    color: #404040;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 18px;
}

.field {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}

.form_name {
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
    color: #404040; 
    font-size: 13px;

}

.form2 {
    flex-grow: 1;
}


.sales {
    margin: 0 auto;
}

.sales_checkbox {
margin-top: 10px;
margin-bottom: 10px;
padding: 2px;
border-radius: 3px;
}

.sales_checkbox:focus {
    background-color: #0284c7;
}

.line {
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px #e5e5e5
}


