body {
    font-family: 'Nunito', sans-serif;
}

:root {
    --primary-color: #F97316;
    --primary-color2: #ea580c;
    --primary-color3: #57534E;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

#header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

#hero {
    height: 800px;
    background: url("hero.jpg");
    background-position: center top;
    background-size: cover;
}

.header-title {
    font-size: 50px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 50%;
}

.header-text {
    font-size: 20px;
    margin-bottom: 50px;
    max-width: 40%;
    color: var(--primary-color3);
    font-weight: 300;
    line-height: 20px;
} 

.menu {
    display: flex;
    align-items: center;
}

.menu-item {
    padding: 0 10px;
    color: black;
}

.menu-item:focus {
    background-color: var(--primary-color2);
}

.menu-item:visited {
    background-color: var(--primary-color2);
}

.button {
    border: none;
    padding: 18px 34px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 1px 1px 2px #D6D3D1;
}

.button:focus {
    background-color: var(--primary-color2);
}

.button:visited {
    background-color: var(--primary-color2);
}

.phone {
    display: flex;
    align-items: center;
}

.phone-icon {
    font-size: 18px;
    margin-right: 8px;
}

.section {
    margin: 0 auto;
    padding: 100px 0 70px;
}

.benifits {

    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.benifit {
    flex-grow: 1;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: #F5F5F4;
    width: 30%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.benifit-icon {
    font-size: 30px;
    text-align: center;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    color: white;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #D6D3D1;
}

.benifit-title {
    font-size: 18px;
    margin-top: 10px;
}

.benifit-content {
    font-size: 15px;
    margin-top: 20px;
    font-weight: 300;
    line-height: 20px;
    color: var(--primary-color3);
}

.about {
    display: flex;
    margin-top: 50px;
}
.about-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
}
.about-text {
    margin-top: 20px;
    line-height: 20px;
    color: #44403C;
}
.about-image {
    width: 500px;
    margin-left: 20px;
}

.section-gray {
    background-color: #FAFAF9;
}

.section-orange {
    background-color: #FFEDD5;
}

.section-title {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}

.section-subtitle {
    color: var(--primary-color3);
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.form {
    margin: 70px auto;
    display: flex;
    justify-content: center;
}

.form-input {
    height: 60px;
    border: 1px solid #D6D3D1;
    border-radius: 8px;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 10px;
}


.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.review {
    border-bottom: 1px solid #D6D3D1;
    padding: 30px 0;
    width: 600px;
}

.review-title {
    margin-bottom: 10px;
    font-size: 18px;
}

.review-text {
    color: #44403C;
    line-height: 20px;
    font-weight: 300;
}

.rates {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.rate {
    flex-grow: 1;
    border: 1px solid #E7E5E4;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 30%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rate-title {
    font-size: 18px;
    margin-top: 10px;
    color: var(--primary-color);
}

.rate-price {
    font-weight: 700;
    font-size: 22px;
    margin-top: 10px;
}

.rate-details {
    flex-grow: 1;
    margin-top: 20px;
}

.rate-detail {
    display: flex;
    align-items: center;
    margin: 5px 0;
    color: #78716C;
    font-size: 14px;
}

.check-icon {
    width: 20px;
    height: 20px;
    color: #65A30D;
    margin-right: 5px;
}

.rate-button {
    background-color: #FFEDD5;
    border-radius: 8px;
    width: 100%;
    color: var(--primary-color2);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
}

.rate-button:focus {
    background-color: var(--primary-color2);
    color: white;
    box-shadow: 1px 1px 2px #white;
}

.rate-button:visited {
    background-color: var(--primary-color2);
    color: white;
    box-shadow: 1px 1px 2px #white;
}


footer {
    background-color: #E7E5E4;
    height: 150px;
}

.footer-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    color: #78716C;
}

.contacts {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.contacts:focus {
    color: var(--primary-color2);
}

.contacts:visited {
    color: var(--primary-color2);
}


























